* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #6f6af7;
  display: flex;
  justify-content: flex-end;
  gap: 200px;
  padding: 20px 10px 20px 10px;
  color: white;
}
.heading {
  font-weight: 700;
  font-size: 50px;
}
.more {
  display: flex;
  gap: 40px;
  font-family: DM Sans;
  margin-top: 28px;
  font-size: 30px;
}
.search {
  position: relative;
  border-radius: 10px;
  padding: 0px 50px;
  margin-bottom: 5px;
  border-style: none;
  border-radius: 20px;
}

.search-icon {
  height: 18px;
  width: 18px;
  position: absolute;
  right: 120px;
  top: 58px;
}
.dropdown {
  height: 38px;
  width: 56px;
}

/* part2 */

.container {
  display: flex;
  margin-left: 100px;
  margin-top: 85px;
}
.codeImage {
}
.code {
  width: 350px;
  height: 400px;
}

.textArea {
}

.textare {
  margin-top: 20px;
  resize: none;
  width: 800px;
  height: 356px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: #e5d8ff;
  box-shadow: 2px 2px 8px 0px #00000040 inset;
}

/* part3 cards */

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 70px;
  margin-left: 116px;
  width: 78.5%;
}
.one,
.two,
.three,
.four {
  width: 200px;
  height: 100px;
  background-color: red;
  border: 2px solid black;
  border-radius: 11px;
  color: white;
  border-style: none;
}
.one {
  background-color: #929dff;
}

.two {
  background-color: #734cf2;
}
.three {
  background-color: #d288ff;
}
.four {
  background-color: #000000;
}

.one > p {
  margin: 20px;
  /* line-height: 1px; */
}
.two > p {
  margin: 20px;
}

.three > p {
  margin: 20px;
}
.four > p {
  margin: 20px;
}

/* part 4 footer */

